.LandingPageHeroSection{
  width: 100% !important;
  max-height: 720px;
  overflow: hidden;
}
.LandingPageHeroSectionX{
  display: block;
  position: relative !important;
  width: 100% !important;
  overflow: hidden;
}
.topSectionPic{
  width: 100vw !important;
}
.topSectionPicBlur{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(15, 44, 83, 0.432);
  z-index: 2;
}
.landingpageTxtContainer{
  display: block;
  z-index: 3;
  overflow: hidden;
  white-space: normal;
  padding-top: 8%;
}
.landingpageTxt{
  color: aliceblue;
  width: 30vw;
  min-width: 150px;
  margin-right: 10px;
}
.landingpageTxt > h1{
  font-size: 2vw;
}
.landingpageTxt > p{
  width: 80%;
  font-size: 14px;
  display: block;
}
.landingpageitemcontainer{
  width: 80%;
  height: 780px;
  padding-top: 8%;
  margin: auto;
}
.topsectionbtn > span{
  font-size: 14px;
  text-transform: uppercase;
}