.form_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_text {
  display: block;
  width: 140px;
  font-size: 20px;
}
.right-line {
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 3px;
  background: #ddd;
}
.form__container {
  box-shadow: 0 0 6px #ddd;
  width: 750px;
  padding: 20px;
}
tr td {
  padding: 8px 20px;
}
