RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

RewriteRule ^([a-zA-Z0-9_-]+)$ viewcollege.php?link=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ viewcollege.php?link=$1

Options -Indexes



